<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navLinks">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
          <div class='navbar-brand'>
            <a href='/'>My Site</a>
          </div>
        </div>
        <div class='collapse navbar-collapse' id='navLinks'>
          <ul class='nav navbar-nav'>
            <li><a href='/'>Our Team</a></li>
            <li><a href='/'>Contact</a></li>
          </ul>
      </div>
    </div>
  </nav>
