$menuHeight: 50;
$lightGrey: #efefef;
$darkGrey: #333;

body {
  margin-top: 60px;
}

#map {
  height: 500px;
}


#dayPicker {
  font-size: smaller;
}

.glyphicon {
  font-size: 24px;
}

.add-item {
  line-height: 18px;
}

#addDayButton, .add-item, #removeDayButton {
  cursor: pointer;
}

button[id^="Day"]{
  margin-right: 20px;

}

ul {
  list-style: none;

  li {
    font-size: 12px;
    margin-left: 10px;
  }
}

